.contact-page {
    border: 1px solid white;
    margin: 5% auto;
    min-height: 100px;
    max-height: 800px;
    min-width: 100px;
    max-width: 500px;
    background-color: slategray;
    border-radius: 10px;
}

.contact-text {
    padding: 5%;
}